In [1]:
# Titanic EDA
# Step 1: Define the problem
# Objective: Explore Titanic data and understand survival patterns

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
import os
os.getcwd()

'C:\\Users\\HP\\Documents\\GitHub\\DataMining-Portfolio\\01_Titanic_EDA\\notebooks\\1_problem_statement.ipynb'

In [14]:
train = pd.read_csv(r"C:\Users\HP\Documents\GitHub\DataMining-Portfolio\01_Titanic_EDA\Data\raw\train.csv")
test = pd.read_csv(r"C:\Users\HP\Documents\GitHub\DataMining-Portfolio\01_Titanic_EDA\Data\raw\test.csv")

In [15]:
train.head()
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S